
/* Custom styles */
body {
    background-color: #f4f7f6;
}
.header, .footer {
    background-color: #080d60;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.sidebar {
    background-color: #080d60;
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
}
.main-content {
    margin-left: 20px;
    padding: 20px;
}
.progress-bar {
    width: 0;
    transition: width 3s;
}
.form-container {
    max-width: 600px;
    margin-top: 0px;
}
.form-group {
    margin-bottom: 15px;
   
  }
   /* Make the footer stay at the bottom */
body, html {
height: 100%;
margin: 0;
}

.wrapper {
display: flex;
flex-direction: column;
min-height: 100%;
}

.main-content {
flex: 1;
}

/* Card Section for the form */
.form-container {
background-color: white;
border-radius: 10px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
padding: 10px;
max-width: 600px;
width: 100%;
margin: 0 auto;
margin-top: 10px; /* Optional for spacing at the top */
}


